*{
	padding: 0;
	margin: 0;
    font-family: montserrat;
}
body{
	background-size: cover;
	align-items: center;
	justify-content: center;
	display: flex;
}
.container{
	position: relative;
	margin-top: 100px;
	width: 450px;
	height: auto;
	background: #c21b3f;
	border-radius: 5px;
}
.label{
	padding: 20px 130px;
	font-size: 35px;
	font-weight: bold;
	color: #000000;
}
.login_form{
	padding: 20px 40px;
}
.login_form .font{
    font-family: "Lucida Console", "Courier New", monospace;
	font-size: 18px;
	color: #000000;
	margin: 5px 0;
}
.login_form input{
	height: 30px;
	width: 355px;
	padding: 0 5px;
	font-size: 18px;
	outline: none;
	border: 1px solid silver;
}

.login_form button{
    margin-top: 10px;
    display: block;
    width: 365px;
    height: 40px;
    border: none;
    background-color: rgb(21, 22, 21);
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    transition: .5s;
}
.login_form button:hover{
	background: #5a5252;
}